<p id="notice"><%= notice %></p>

<h1>Listing Feats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Effect</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feats.each do |feat| %>
      <tr>
        <td><%= feat.name %></td>
        <td><%= feat.effect %></td>
        <td><%= link_to 'Show', feat %></td>
        <td><%= link_to 'Edit', edit_feat_path(feat) %></td>
        <td><%= link_to 'Destroy', feat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feat', new_feat_path %>
